__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/
*.db
.vscode/settings.json

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Ansible & Secrets
**/hosts.yml
**/hosts.ini
**/vault-password.txt
**/*.pem
**/id_rsa
**/id_rsa.pub

# Kubernetes & Cluster credentials
kubeconfig*.yaml
**/kubeconfig*.yaml

